
// REDS
$dark_red: #96281B;
$dull_red: #C0392B;
$vibrant_red: #D91E18;

// YELLOWS
$dull_yellow: #F9BF3B;
$light_yellow: #F4D03F;
$vibrant_yellow: #F7CA18;

// GREYS
$dark_grey: #95A5A6;
$dull_grey: #D2D7D3;
$light_grey: #EEEEEE;

$black_grey: #22313F;

// TIMES
$transition: all 0.1s;

$border-radius: 2px;

// FLAT UI PICKER

// RED

// DARKEST RED
// OLD BRICK RED: #96281B

// DULL RED
// TALL POPPY: #C0392B

// VIBRANT RED
// THUNDERBIRD: #D91E18


// GREYS

// DARK GREY
// CASCADE: #95A5A6

// DULL GREY
// PUMICE: #D2D7D3

// LIGHT GREY
// GALLERY: #EEEEEE



// YELLOW

// DULL YELLOW
// SAFFRON #F9BF3B

// BRIGHT YELLOW
// SAFFRON #F4D03F

// VIBRANT YELLOW
// RIPE LEMON #F7CA18




