
// COLOURS
 
$bkg_color: #ecf0f1;

$red_color: #e74c3c;
$darkRed_color: #c0392b;

$text_color: #34495e;

$green_color: #2ecc71;
$darkGreen_color: #27ae60;

// RED COLOUR
// #e74c3c
// DEEP RED COLOUR
// #c0392b