<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Admin Extra Ferries</title>

  <!-- CORDOVA NECESSITIES -->

  <!-- CSS  -->
  <link href="../assets/css/gridism.css" type="text/css" rel="stylesheet"/>
  <link href="../assets/css/styles.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>

<!-- NAVIGATION -->
<nav>
  <div class="nav_bar">
    <a href="#" class="cd-btn"><i class="mdi-navigation-menu"></i></a><div>Extra Ferries</div>
    <!-- POSSIBILITY OF ADDING AN EDITABLE SWITCH -->
    <!-- <span class="editable_div">
      <span class="margin_right">Flick the switch to edit</span>
      <input id="editable" type="checkbox" hidden="hidden" class="editable_switch"/>
      <label for="editable" class="switch"></label>
    </span> -->
    <a href="javascript:history.go(0)" class="refresh-icon"><i class="mdi-navigation-refresh"></i></a>
    <a href="/logout" class="btn logout">Logout</a>
  </div>

  <div class="cd-panel from-left">
    <div class="cd-panel-container">
      <div class="cd-panel-content">
        <ul>
          <a href="dashboard"><li><i class="mdi-action-home"></i>Dashboard</li></a>
          <a href="timetables"><li><i class="mdi-action-event"></i>Master Timetables</li></a>
          <a href="extras"><li><i class="mdi-content-add-circle"></i>Extra Ferries</li></a>
          <a href="cancelled"><li><i class="mdi-content-remove-circle"></i>Cancelled Ferries</li></a>
          <a href="bookings"><li><i class="mdi-action-credit-card"></i>Bookings (beta)</li></a>
          <a href="offline"><li><i class="mdi-device-signal-wifi-off"></i>Offline Timetables</li></a>
        </ul>
      </div> <!-- cd-panel-content -->
    </div> <!-- cd-panel-container -->
  </div> <!-- cd-panel -->

</nav>

<div class="nav_bar_buffer"></div>

<main >


<!-- WARNING FOR CHANGES -->
<div class="grid padded">
  <div class="unit whole card red shadow1 align-center">
    <span> <i class="mdi-alert-warning margin_right"></i>CHANGES MADE HERE WILL EFFECT EVERY TIMETABLE ON WEBSITES and APPS<i class="mdi-alert-warning margin_left"></i> </span>
  </div>
</div>


<!-- DEPARTING ARRANMORE EXTRA -->
<div class="grid padded">
  <div class="unit whole card shadow1 plain padded_left_right">
    <h3 class="">Extra Ferries Departing Arranmore:</h3>
    <div class="unit half">
      <h3 class="blue_text">Departing Arranmore Extras List:</h3>
        <div class="card" id="da_extra_list"></div>
      <!-- EXTRA FERRY FORM -->
      <div class="unit whole card blue_light align-center">
        <div class="mobile_block"> New ferry for: <input type="date" class="extra" name="da_extra_date"> </div>
        <div class="mobile_block"> at: <input type="time" class="extra" id="da_extra_time" > </div>
        <a class="btn btn_no_margin btn_add da_extra_btn"><i class="mdi-content-add-circle margin_right"></i>Add Ferry</a>
      </div>

    </div>
    <!-- END OF FIRST HALF -->
    <div class="unit half">
      <h3 class="blue_text">Departing Arranmore Extras Table:</h3>
        <div class="card" id="da_extra_table"></div>
        <a class="btn btn_blue da_extra_btn_old">Show Past Extra Ferries</a>
        <div class="card" id="da_extra_table_old"></div>
    </div>
  </div>
</div>


<!-- DEPARTING BURTONPORT EXTRA -->
<div class="grid padded">
  <div class="unit whole card shadow1 plain padded_left_right">
    <h3 class="">Extra Ferries Departing Burtonport:</h3>
    <div class="unit half">
      <h3 class="orange_text">Departing Burtonport Extras List:</h3>
        <div class="card" id="db_extra_list"></div>
      <!-- EXTRA FERRY FORM -->
      <div class="unit whole card orange_light align-center">
        <div class="mobile_block"> New ferry for: <input type="date" class="extra" name="db_extra_date"> </div>
        <div class="mobile_block">  at: <input type="time" class="extra" id="db_extra_time"> </div>
        <a class="btn btn_no_margin btn_add db_extra_btn"><i class="mdi-content-add-circle margin_right"></i>Add Ferry</a>
      </div>

    </div>
    <!-- END OF FIRST HALF -->
    <div class="unit half">
      <h3 class="orange_text">Departing Burtonport Extras Table:</h3>
        <div class="card" id="db_extra_table"></div>
        <a class="btn btn_orange db_extra_btn_old">Show Past Extra Ferries</a>
        <div class="card" id="db_extra_table_old"></div>
    </div>
  </div>
</div>



<!-- LOCAL TIME -->
<div class="grid padded">
  <div class="unit whole card shadow1 plain align-center">
    <a class="btn btn_blue" href="mailto:mat.loughnane@gmail.com" target="_blank">No idea what's going on? Email Mat</a>
  </div>
</div>

</main>

  <!--  Scripts-->
  <script src="../assets/js/jquery-2.1.3.min.js"></script>
  <script src="../assets/js/sidepanel.js"></script>
  <script src="../assets/js/toastr.min.js"></script>
  <script src="../assets/js/firebase.js"></script>
  <script src="../assets/js/adminApp_extras.js"></script>

  <script>
  toastr.options = {
    "positionClass": "toast-bottom-right",
  }
  </script>

  </body>
</html>


