
// BACKGROUNDS
$main_bg_color: #D2D7D3;


// TEXT COLOURS
$dark_text_color: #2C3E50;
$light_text_color: #F2F1EF;

// MAIN COLOUR
$main_color: #2574A9;
$main_color_dark: #2C3E50;
$main_color_light: #6BB9F0;


// TIMES

$transition: all 0.1s;